/*THIS IS FOR THE WHOLE PAGE*/
* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
/*THIS IS FOR THE WHOLE BODY*/
  body {
    background-color: #e4e4e4fa;
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 10fr 1fr;
    grid-gap: 1em;
  }
  
/*THIS IS THE HEADER PORTION*/
  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 20px;
    background-color: #130707;
  }
  
        header h1 {
          font-size: 48px;
          color: white;
        }
  
              header nav {
              padding-top: 15px;
              margin-right: 20px;
              float: right;
              color: white;
              }
  
        header nav ul {
        list-style-type: none;
        font-size: larger;
        }
  
  header nav ul li {
    margin-left: 25px;
  }

  /*THIS IS THE LAST NAME COLOR*/
  .Last {
    color: blue;
  }

.content {
  display:grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 2fr 5fr;
}


  /*THIS IS THE RIGHT SIDE PORTION*/
  .Right{
    display:grid;
    grid-area: 1 / 2;
    width: 1475px;
    border-left: 1px;
    border-color: black;
    border-left-style: solid;
  }
        .Right h3{
          border-left: 3px;
          border-color: black;
          border-left-style: solid;
        }
    

  /*THIS IS THE PICTURE AND THE "ABOUT ME" */
  .About-Me {
    display:grid;
    padding: 50px;
    color: black;
    font-size: 24px;
  }

  .About-Me h2 {
      font-size: 36px;
  }

  .Me {
    width: 250px;
    height: 250px;
    border-radius: 50px;
    border-style: ridge;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
  }

  /*THIS IS THE WORK PORTION*/
  .Photos {
    display: flex;
    flex-flow: row wrap;
  
  }

  .Top img {
    width:660px;
    height: 250px;
  }

  .Bot-Left img,
  .Bot-Mid img {
    width: 220px;
    height:250px;
  }

  .Bot-Left img{

  }

  .Bot-Right img {
    width: 220px;
    height: 250px;
  }
  
.work {
  display: grid;
  grid-area: 2 / 3;
}












/*THIS IS THE WHOLE FOOTER PORTION */
  footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding: 30px;
    text-align: center;
    position: relative;
    top: 350px;
    background-color: #130707;
   }

        .footer h2,
        P.Contacts {
            position: relative;
        }

  .footer h2 {
    font-size: 40px;
    color: bisque;
    top: -18px;
    left: 30px;
  }

  P.Contacts {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: bisque;
    left: -10px;
  }
  
  /*THIS IS FOR ADJUSTING SCREEN SIZE*/
  @media screen and (max-width: 992px) {

  }

  @media screen and (max-width: 768px) {
  }
  
  @media screen and (max-width: 566px) {
  }

  