/*THIS IS FOR THE WHOLE PAGE*/
* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
/*THIS IS FOR THE WHOLE BODY*/
  body {
    background-color: #e4e4e4fa;
    max-height:100%;
  }
  
/*THIS IS THE HEADER PORTION*/
  header {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #130707;
  }
  
        header h1 {
          display: inline-block;
          font-size: 48px;
          color: white;
        }
  
              header nav {
              padding-top: 15px;
              margin-right: 20px;
              float: right;
              color: white;
              }
  
        header nav ul {
        list-style-type: none;
        font-size: larger;
        }
  
  header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }

  /*THIS IS THE LAST NAME COLOR*/
  .Last {
    color: blue;
  }

  /*THIS IS THE RIGHT SIDE PORTION*/
  .Right{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    float: right;
    width: 1475px;
    position: relative;
    top: 60px;
    border-left: 1px;
    border-color: black;
    border-left-style: solid;
  }
        .Right h3{
          border-left: 3px;
          border-color: black;
          border-left-style: solid;
        }
    

  /*THIS IS THE PICTURE AND THE "ABOUT ME" */
  .About-Me {
    display:flex;
    justify-content: flex-end;
    padding: 50px;
    color: black;
    font-size: 24px;
  }

  .About-Me h2 {
      font-size: 36px;
  }

  img {
    width: 250px;
    border-radius: 50px;
    border-style: ridge;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    position: absolute;
    left: 30px;
    bottom: 519px;
  }
  
/*THIS IS THE WHOLE FOOTER PORTION */
  footer {
    padding: 30px;
    text-align: center;
    position: relative;
    top: 350px;
    background-color: #130707;
   }

        .footer h2,
        P.Contacts {
            position: relative;
        }

  .footer h2 {
    font-size: 40px;
    color: bisque;
    top: -18px;
    left: 30px;
  }

  P.Contacts {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: bisque;
    left: -10px;
  }
  
  /*THIS IS FOR ADJUSTING SCREEN SIZE*/
  @media screen and (max-width: 992px) {

  }

  @media screen and (max-width: 768px) {
  }
  
  @media screen and (max-width: 566px) {
  }